.cart-section {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    z-index: 1000;
}

.cart-section.visible {
    right: 0;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: #f1f1f1;
    font-size: 20px;
    cursor: pointer;
}

.cart-content {
    padding: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.item-details {
    display: flex;
    flex-direction: column;
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.total-price {
    font-size: 18px;
    font-weight: bold;
}

.checkout-btn {
    padding: 10px 20px;
    background-color: #603F26;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.checkout-btn:hover {
    background-color: #4b321f;
}