.footer {
    background-color: #f5e7d5;
    padding: 10px 10px;
    color: #603F26;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.back-to-top {
    width: 100%; /* Full width */
    background: none; /* No background */
    border: none; /* Remove border */
    color: #fff; /* White text */
    text-align: center; /* Center text */
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0; /* Padding to make it prominent */
    background-color: #603F26; /* Background color to match footer */
    cursor: pointer; /* Make it clickable */
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}

.back-to-top:hover {
    text-decoration:#f5e7d5; /* Add underline on hover */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-right: 10px;
}

.footer-logo-section {
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
}

.footer-logo {
    width: 120px;
    margin-bottom: 10px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    flex: 3;
    gap: 40px;
}

.footer-column {
    flex: 1;
}

.footer-column h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: #603F26;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
}

.social-media-icons a {
    color: #603F26;
    font-size: 18px;
    text-decoration: none;
}

.social-media-icons a:hover {
    color: #ddd;
}

.app-links {
    display: flex;
    align-items: center; 
    height: 40%;
}

.app-links img {
    width: 120px;
    margin-right: 10px; /* Adjust this value to reduce or increase the space */
}

.app-links img:last-child {
    margin-right: 0; /* Removes the margin after the last icon */
}


.footer p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #603F26;
}
