.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
    width: 90%;
    background-color: #f5e7d5;
    padding: 20px;
    box-sizing: border-box;
    margin: 50px auto;
    border-radius: 10px;
}

.banner-content {
    flex: 1;
    color: #333;
    padding-left: 50px;
    font-family: 'Arial', sans-serif;
}

.banner h3 {
    font-size: 24px;
    margin: 0;
    color: #888;
}

.banner h1 {
    font-size: 50px;
    margin: 10px 0;
    font-weight: bold;
    color: #603F26;
}

.shop-now-btn {
    background-color: #b4c350;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.shop-now-btn:hover {
    background-color: #9ab042;
}

.banner-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.banner-image img {
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
}

.arrows {
    position: absolute;
    top: 60%;
    display: flex;
    justify-content: space-between;
    width: 85%;
    transform: translateY(-50%);
}

.left-arrow,
.right-arrow {
    background-color: white;
    border: none;
    padding: 12px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.left-arrow:hover,
.right-arrow:hover {
    background-color: #b4c350;
    color: white;
}