.offers-container {
    margin-top: 40px;
    padding: 20px;
}

.offers-container h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #603F26;
    text-align: center;
    /* Center the text */
    width: 100%;
    /* Ensure the title takes up the full width of the container */
}


.offers-scroll-container {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.offer-card {
    min-width: 250px;
    /* Set a minimum width to ensure horizontal scrolling */
    margin-right: 20px;
    margin-bottom: 5px;
    background-color: white;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
    flex-shrink: 0;
    /* Prevent flex items from shrinking */
}

.offer-card img {
    width: 75%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.offer-card h4 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.old-price {
    text-decoration: line-through;
    color: #888;
}

.new-price {
    font-size: 18px;
    font-weight: bold;
    color: #603F26;
}

.add-btn {
    background-color: #603F26;
    /* Color for the button */
    border: none;
    border-radius: 50%;
    /* Make the background circular */
    width: 40px;
    /* Adjust size to make it a circle */
    height: 40px;
    /* Adjust size to make it a circle */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-btn:hover {
    background-color: #603F26;
    /* Change color on hover */
}

.add-btn svg {
    color: white;
    /* Icon color */
    font-size: 20px;
    /* Icon size */
}

/* Optional: Hide scrollbars */
.offers-scroll-container::-webkit-scrollbar {
    display: none;
}